html
  head
    title Mi portafolio personal
    link(rel="stylesheet", href="/css/styles.css")
  body
  
    header
      a(href="/user/${userId}") Inicio 
      a(href="/user/skills/${userId}") Habilidades 
      a(href="/user/contact/${userId}") Contacto 
    main
      block content
    footer
      | Copyright © 2023
